html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url("/fonts/WorkSans-VariableFont_wght.woff") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url("/fonts/WorkSans-Italic-VariableFont_wght.woff") format(woff2);
  font-weight: 100 900;
  font-display: swap;
}

.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.nav__logo {
  max-width: 25px;
}

.logo__text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: #2947A9;
}

.logo__text--highlight {
  font-style: italic;
}

.burger {
  display: block;
  background-color: transparent;
  border: none;
}

.burger__line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2947A9;
  border-radius: 2px;
  margin: 8px 0;
}
