html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url("/fonts/WorkSans-VariableFont_wght.woff") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url("/fonts/WorkSans-Italic-VariableFont_wght.woff") format(woff2);
  font-weight: 100 900;
  font-display: swap;
}

.container {
  padding: 0 8px;
  margin: 0 auto;
}

@media (min-width: 704px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 56px;
    margin: 0 auto;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  text-decoration: none;
}

.nav__logo {
  max-width: 25px;
}

.logo__text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #2947A9;
}

.logo__text--highlight {
  font-style: italic;
}

.burger {
  display: block;
  background-color: transparent;
  border: none;
}

.burger__line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2947A9;
  border-radius: 2px;
  margin: 8px 0;
}

.nav__menu {
  position: fixed;
  top: 60px;
  right: 0;
  width: 150px;
  height: 180px;
  background-color: #E0E3EB;
  border-radius: 8px;
  text-align: center;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 2;
  padding: 24px;
}

.nav__menu.active {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  margin-bottom: 16px;
}

.nav__link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #14171F;
  text-decoration: none;
}

.nav__link--active {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #F9995D;
  text-decoration: none;
}

@media (min-width: 704px) {
  .nav__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .burger {
    display: none;
  }
  .nav__menu {
    position: static;
    visibility: visible;
    -webkit-transform: none;
            transform: none;
    background-color: transparent;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
  }
  .nav__item {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .nav__logo {
    max-width: 36px;
  }
  .logo__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
  .nav__menu {
    width: 100%;
    max-width: 500px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 48px;
  }
}

.footer {
  margin-top: 44px;
}

.footer__row {
  margin-bottom: 44px;
}

.footer__info {
  margin-bottom: 40px;
}

.footer__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.footer__contact-item:last-child {
  margin-bottom: 32px;
}

.footer__contact-label,
.footer__newsletter-label,
.footer__social-label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #2947A9;
}

.footer__contact-address,
.footer__contact-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #292E3D;
  text-decoration: none;
}

.footer__newsletter {
  margin-bottom: 32px;
}

.footer__newsletter-label {
  margin-bottom: 12px;
}

.footer__newsletter-input {
  border: 1px solid #E0E3EB;
  border-radius: 3px;
  width: 100%;
  max-width: 200px;
  padding: 4px;
}

.footer__newsletter-input::-webkit-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #A3AAC2;
}

.footer__newsletter-input:-ms-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #A3AAC2;
}

.footer__newsletter-input::-ms-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #A3AAC2;
}

.footer__newsletter-input::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #A3AAC2;
}

.footer__newsletter-btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #F9995D;
  border: none;
  border-radius: 3px;
  padding: 8px 20px;
}

.footer__social-label {
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 100%;
  max-width: 25px;
  margin-right: 8px;
}

.footer__copyright {
  background-color: #2947A9;
  padding: 16px 8px;
}

.footer__copyright-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

@media (min-width: 704px) {
  .footer__contact-label,
  .footer__newsletter-label,
  .footer__social-label {
    font-size: 17px;
  }
  .footer__contact-address,
  .footer__contact-link {
    font-size: 19px;
  }
  .footer__newsletter-input {
    width: 100%;
    max-width: 280px;
    padding: 12px 8px;
  }
  .footer__newsletter-input::-webkit-input-placeholder {
    font-size: 17px;
  }
  .footer__newsletter-input:-ms-input-placeholder {
    font-size: 17px;
  }
  .footer__newsletter-input::-ms-input-placeholder {
    font-size: 17px;
  }
  .footer__newsletter-input::placeholder {
    font-size: 17px;
  }
  .footer__newsletter-btn {
    font-size: 17px;
    border-radius: 5px;
    padding: 12px 24px;
  }
  .footer__social-icon {
    width: 100%;
    max-width: 40px;
    margin-right: 20px;
  }
  .footer__row {
    margin: 84px 0;
  }
  .footer__copyright {
    padding: 28px 12px;
  }
  .footer__copyright-text {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 232px;
  }
  .footer__contact-item {
    margin-bottom: 32px;
  }
  .footer__newsletter-label {
    margin-bottom: 20px;
  }
  .footer__newsletter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
  .footer__newsletter-input {
    width: 100%;
    min-width: 280px;
  }
  .footer__copyright {
    padding: 24px 116px;
  }
}

.hero {
  position: relative;
  background-image: url("../../images/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 48px;
}

.hero__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 43px;
  color: #292E3D;
  line-height: 1.2;
  padding-top: 52px;
}

.hero__slider {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #2947A9;
  max-width: 250px;
  padding-top: 16px;
}

.hero__slider-label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.hero__slider-text {
  font-family: 'Work Sans',sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.hero__slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #C2C7D6;
}

.btn-prev,
.btn-next {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #FFFFFF;
  background-color: #292E3D;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 4px 38px;
}

.btn-prev-arrow,
.btn-next-arrow {
  width: 100%;
  max-width: 17px;
}

.btn-next-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 704px) {
  .hero {
    position: relative;
    height: 418px;
  }
  .hero__title {
    font-size: 50px;
    width: 100%;
    max-width: 370px;
    padding-top: 124px;
  }
  .hero__slider {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 600px;
  }
  .hero__title {
    font-size: 70px;
    line-height: 1.3;
    width: 100%;
    max-width: 550px;
    padding-top: 188px;
  }
  .hero__slider {
    min-width: 350px;
    padding-top: 20px;
  }
  .hero__slider-label {
    font-size: 18px;
  }
  .hero__slider-text {
    font-size: 21px;
    line-height: 1.2;
    max-width: 290px;
    margin: 20px auto;
  }
  .btn-prev,
  .btn-next {
    font-size: 16px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    padding: 8px 52px;
  }
  .btn-prev-arrow,
  .btn-next-arrow {
    max-width: 24px;
  }
}

.reputation {
  margin-bottom: 68px;
}

.reputation__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #292E3D;
  text-align: center;
  margin-bottom: 40px;
}

.reputation__card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.reputation__card {
  border: 1px solid #E0E3EB;
  border-radius: 2px;
  max-width: 230px;
  padding: 16px;
}

.reputation__icon {
  max-width: 33px;
  margin-bottom: 16px;
}

.reputation__card-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #3D445C;
  margin-bottom: 16px;
}

.reputation__card-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #858EAD;
  max-width: 190px;
  margin-bottom: 20px;
}

@media (min-width: 704px) {
  .reputation__title {
    font-size: 36px;
  }
  .reputation__card {
    max-width: 290px;
    padding: 20px;
  }
  .reputation__icon {
    max-width: 40px;
  }
  .reputation__card-title {
    font-size: 20px;
  }
  .reputation__card-text {
    font-size: 16px;
    max-width: 250px;
  }
}

@media (min-width: 1200px) {
  .reputation {
    margin: 60px 0 84px;
  }
  .reputation__title {
    margin-bottom: 52px;
  }
  .reputation__card-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }
}

.about {
  margin-bottom: 52px;
}

.about__image {
  max-width: 100%;
  height: auto;
}

.about__content {
  background-color: #2947A9;
  border-radius: 1px;
  max-width: 290px;
  padding: 40px 28px 48px;
}

.about__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.about__text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #FFFFFF;
  max-width: 240px;
  margin-bottom: 16px;
}

.about__text:last-of-type {
  margin-bottom: 52px;
}

.about__btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #2947A9;
  background-color: #FFFFFF;
  text-decoration: none;
  border-radius: 3px;
  padding: 12px 16px;
}

@media (min-width: 704px) {
  .about__content {
    max-width: 480px;
    padding: 52px 40px;
  }
  .about__title {
    font-size: 35px;
    margin-bottom: 36px;
  }
  .about__text {
    font-size: 18px;
    max-width: 380px;
    margin-bottom: 28px;
  }
  .about__text:last-of-type {
    margin-bottom: 72px;
  }
  .about__btn {
    font-size: 17px;
    padding: 16px 20px;
  }
}

@media (min-width: 1200px) {
  .about {
    padding: 72px 0 100px;
  }
  .about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__image {
    width: 100%;
    max-width: 900px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .about__content {
    margin: 0 0 44px -200px;
    z-index: 1;
    padding: 52px 40px 72px;
  }
}

.services {
  background-color: #F6F8F7;
  padding: 40px 0 32px 0;
}

.services__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #292E3D;
  text-align: center;
  margin-bottom: 36px;
}

.services__card {
  background-color: #FFFFFF;
  border-radius: 3px;
  text-align: center;
  max-width: 230px;
  padding: 32px 0;
  margin-bottom: 40px;
}

.services__card .services__card-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #2947A9;
}

.services__card--acrive {
  background-color: #2947A9;
}

.services__card--acrive .services__card-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
}

.services__card-icon {
  max-width: 32px;
}

.services__card-line {
  display: block;
  background-color: #E0E3EB;
  max-width: 50px;
  height: 2px;
  margin: 16px auto;
}

@media (min-width: 704px) {
  .services__title {
    font-size: 36px;
  }
  .services__card-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 16px;
    justify-items: center;
  }
  .services__card {
    min-width: 270px;
    padding: 36px 0;
  }
  .services__card-icon {
    max-width: 40px;
  }
  .services__card
.services__card-title {
    font-size: 20px;
  }
  .services__card-line {
    max-width: 60px;
  }
}

@media (min-width: 1200px) {
  .services {
    padding: 44px 0 72px;
  }
  .services__card-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.experience {
  margin: 52px 0 60px 0;
}

.experience__card {
  position: relative;
  width: 100%;
  max-width: 210px;
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 16px 0 24px 24px;
  margin-bottom: 24px;
}

.experience__card:last-child {
  margin-bottom: 52px;
}

.experience__icon--1,
.experience__icon--2,
.experience__icon--3,
.experience__icon--4 {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 100%;
  max-width: 55px;
}

.experience__card-number {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #292E3D;
}

.experience__label-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.experience__card-line {
  display: block;
  width: 4px;
  height: 17px;
  background-color: #F9995D;
}

.experience__card-label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #667299;
}

.experience__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #2947A9;
  margin-bottom: 28px;
}

.experience__text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525B7A;
  margin-bottom: 48px;
}

.experience__btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #2947A9;
  border-radius: 2px;
  text-decoration: none;
  padding: 12px 32px;
}

@media (min-width: 704px) {
  .experience__stats {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 210px;
    gap: 0;
  }
  .experience__card {
    position: relative !important;
    width: 100%;
    max-width: 290px;
    max-height: 156px;
    padding: 32px;
    margin: 0;
  }
  .card:nth-child(1),
  .card:nth-child(3) {
    z-index: 10;
  }
  .card:nth-child(2),
  .card:nth-child(4) {
    z-index: 1;
  }
  .card:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    -webkit-transform: translate(-100px, 100px);
            transform: translate(-100px, 100px);
  }
  .card:nth-child(3) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    -webkit-transform: translate(-100px, -60px);
            transform: translate(-100px, -60px);
  }
  .card:nth-child(4) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
    -webkit-transform: translate(20px, -150px);
            transform: translate(20px, -150px);
  }
  .experience__icon--1,
  .experience__icon--2,
  .experience__icon--3,
  .experience__icon--4 {
    width: 100%;
    max-width: 85px;
  }
  .experience__icon--1 {
    position: absolute;
    left: -25px;
    top: -50px;
  }
  .experience__icon--4 {
    position: absolute;
    top: auto;
    bottom: -50px;
    right: -30px;
  }
  .experience__card-number {
    font-size: 65px;
  }
  .experience__card-line {
    height: 20px;
  }
  .experience__label-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
  .experience__card-label {
    font-size: 23px;
  }
  .experience__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .experience__text {
    font-size: 20px;
    margin-bottom: 56px;
  }
  .experience__btn {
    font-size: 17px;
    padding: 16px 40px;
  }
}

@media (min-width: 1200px) {
  .experience {
    margin-top: 0;
  }
  .experience__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 124px;
  }
  .experience__stats {
    width: 100%;
    max-width: 630px;
  }
  .card:nth-child(1) {
    -webkit-transform: translate(70px, 60px);
            transform: translate(70px, 60px);
  }
  .card:nth-child(2) {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  .card:nth-child(3) {
    -webkit-transform: translate(-40px, -10px);
            transform: translate(-40px, -10px);
  }
  .card:nth-child(4) {
    -webkit-transform: translate(100px, -100px);
            transform: translate(100px, -100px);
  }
  .experience__content {
    width: 100%;
    max-width: 330px;
  }
}

.consulation {
  background-image: url("../../images/consulation-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  padding: 52px 0;
  margin: 40px 0;
}

.consulation__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.consulation__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin-bottom: 76px;
}

.consulation__text,
.consulation__phone {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}

.consulation__btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  padding: 12px 20px;
}

@media (min-width: 704px) {
  .consulation {
    height: 400px;
  }
  .consulation__title {
    font-size: 34px;
    margin-bottom: 32px;
  }
  .consulation__text,
  .consulation__phone {
    font-size: 22px;
  }
  .consulation__btn {
    font-size: 18px;
    padding: 16px 24px;
  }
}

@media (min-width: 1200px) {
  .consulation {
    height: 300px;
    padding: 100px 0;
    margin: 0;
  }
  .consulation__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 160px;
  }
  .consulation__text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
  .consulation__btn {
    margin-top: -36px;
  }
}

.projects {
  padding: 40px 0;
}

.projects__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #292E3D;
  margin-bottom: 32px;
}

.projects__filter {
  margin-bottom: 32px;
}

.projects__filter-item {
  margin-bottom: 16px;
}

.projects__filter-line {
  display: block;
  width: 2px;
  height: 18px;
  background-color: #2947A9;
}

.projects__filter-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #C2C7D6;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.projects__filter-link.active {
  color: #2947A9;
}

.projects__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.projects__grid::-webkit-scrollbar {
  display: none;
}

.projects__card {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 270px;
}

.projects__card,
.projects__card-image {
  width: 100%;
  max-width: 270px;
  background-color: #2947A9;
}

.projects__card-info {
  padding: 8px;
}

.projects__card-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.projects__card-address {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.projects__controls {
  display: none;
}

@media (min-width: 704px) {
  .projects {
    padding: 60px 0;
  }
  .projects__title {
    font-size: 36px;
  }
  .projects__filter-line {
    width: 3px;
    height: 24px;
  }
  .projects__filter-link {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .projects__filter {
    margin-bottom: 40px;
  }
  .projects__card,
  .projects__card-image {
    width: 100%;
    max-width: 380px;
  }
  .projects__card-info {
    padding: 12px;
  }
  .projects__card-title {
    font-size: 19px;
    margin-bottom: 12px;
  }
  .projects__card-address {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  .projects {
    margin: 88px 0 136px;
    padding: 0;
  }
  .projects__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 200px;
  }
  .projects__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    overflow: visible;
    width: 100%;
    max-width: 745px;
    margin: 68px 0 32px;
  }
  .projects__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects__btn-prev,
  .projects__btn-next {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #292E3D;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 112px;
  }
  .projects__dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
  }
  .projects__dot--active,
  .projects__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  .projects__dot--active {
    background-color: #2947A9;
  }
  .projects__dot {
    background-color: #F6F8F7;
  }
}

.contact {
  background-color: #F6F8F7;
  padding: 40px 0;
}

.contact__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #292E3D;
  margin-bottom: 20px;
}

.contact__text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.2;
  color: #292E3D;
  margin-bottom: 32px;
}

.contact__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.contact__input,
.contact__select {
  width: 100%;
  max-width: 250px;
  border: 1px solid #E0E3EB;
  border-radius: 3px;
  padding: 8px;
}

.contact__input::-webkit-input-placeholder,
.contact__select,
.contact__textarea::-webkit-input-placeholder,
.contact__note {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #A3AAC2;
}

.contact__input:-ms-input-placeholder,
.contact__select,
.contact__textarea:-ms-input-placeholder,
.contact__note {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #A3AAC2;
}

.contact__input::-ms-input-placeholder,
.contact__select,
.contact__textarea::-ms-input-placeholder,
.contact__note {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #A3AAC2;
}

.contact__input::placeholder,
.contact__select,
.contact__textarea::placeholder,
.contact__note {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #A3AAC2;
}

.contact__input-required {
  color: #ED6565;
}

.contact__select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  position: relative;
}

.contact__select-wrap::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 98px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../../images/arrow-dropdown.svg");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.contact__select {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact__textarea {
  width: 100%;
  max-width: 300px;
  height: 120px;
  resize: none;
  border: 1px solid #E0E3EB;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 8px;
}

.contact__note {
  color: #667299;
  margin-bottom: 28px;
}

.contact__note-required {
  color: #C40303;
  margin-right: 4px;
}

.contact__btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #2947A9;
  border: none;
  display: block;
  padding: 16px 64px;
  margin: 0 auto;
}

@media (min-width: 704px) {
  .contact__content {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  .contact__title {
    font-size: 36px;
  }
  .contact__text {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .contact__form {
    width: 100%;
    max-width: 600px;
    margin: 48px auto;
  }
  .contact__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 28px;
    margin-bottom: 20px;
  }
  .contact__input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__input,
  .contact__select {
    width: 100%;
    min-width: 280px;
  }
  .contact__input::-webkit-input-placeholder,
  .contact__select,
  .contact__textarea::-webkit-input-placeholder,
  .contact__note {
    font-size: 17px;
  }
  .contact__input:-ms-input-placeholder,
  .contact__select,
  .contact__textarea:-ms-input-placeholder,
  .contact__note {
    font-size: 17px;
  }
  .contact__input::-ms-input-placeholder,
  .contact__select,
  .contact__textarea::-ms-input-placeholder,
  .contact__note {
    font-size: 17px;
  }
  .contact__input::placeholder,
  .contact__select,
  .contact__textarea::placeholder,
  .contact__note {
    font-size: 17px;
  }
  .contact__input {
    padding: 12px 8px;
  }
  .contact__select-wrap::after {
    right: 16px;
  }
  .contact__textarea {
    width: 100%;
    max-width: 595px;
  }
  .contact__note {
    text-align: left;
  }
  .contact__btn {
    font-size: 18px;
    padding: 16px 100px;
  }
}

@media (min-width: 1200px) {
  .contact {
    padding: 60px 0 12px;
  }
  .contact__content {
    margin: 0 auto;
  }
}
