html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url("/fonts/WorkSans-VariableFont_wght.woff") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url("/fonts/WorkSans-Italic-VariableFont_wght.woff") format(woff2);
  font-weight: 100 900;
  font-display: swap;
}

.container {
  padding: 0 8px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 0 16px 0;
}

.logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.nav__logo {
  max-width: 25px;
}

.logo__text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: #2947A9;
}

.logo__text--highlight {
  font-style: italic;
}

.burger {
  display: block;
  background-color: transparent;
  border: none;
}

.burger__line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2947A9;
  border-radius: 2px;
  margin: 8px 0;
}

.nav__menu {
  position: fixed;
  top: 60px;
  right: 0;
  width: 150px;
  height: 180px;
  background-color: #E0E3EB;
  border-radius: 8px;
  text-align: center;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  padding: 25px;
}

.nav__menu.active {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  margin-bottom: 15px;
}

.nav__link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #14171F;
  text-decoration: none;
}

.nav__link--active {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #F9995D;
  text-decoration: none;
}

.hero {
  background-image: url("../../images/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin: 24px 0 48px 0;
}

.hero__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 43px;
  color: #292E3D;
  line-height: 1.2;
  padding: 50px 0 132px 0;
}

.hero__slider {
  text-align: center;
  background-color: #2947A9;
  max-width: 250px;
  padding-top: 16px;
}

.hero__slider-label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.hero__slider-text {
  font-family: 'Work Sans',sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.hero__slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #C2C7D6;
}

.btn-prev,
.btn-next {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #FFFFFF;
  background-color: #292E3D;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 4px 38px;
}

.btn-prev-arrow,
.btn-next-arrow {
  max-width: 17px;
}

.btn-next-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reputation {
  margin-bottom: 68px;
}

.reputation__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #292E3D;
  text-align: center;
  margin-bottom: 40px;
}

.reputation__card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.reputation__card {
  border: 1px solid #E0E3EB;
  border-radius: 2px;
  max-width: 230px;
  padding: 16px;
}

.reputation__icon {
  max-width: 33px;
  margin-bottom: 16px;
}

.reputation__card-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #3D445C;
  margin-bottom: 16px;
}

.reputation__card-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #858EAD;
  max-width: 190px;
  margin-bottom: 20px;
}

.about {
  margin-bottom: 52px;
}

.about__image {
  max-width: 100%;
  height: auto;
}

.about__content {
  background-color: #2947A9;
  border-radius: 1px;
  max-width: 290px;
  padding: 40px 28px 48px;
}

.about__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.about__text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #FFFFFF;
  max-width: 240px;
  margin-bottom: 16px;
}

.about__text:last-of-type {
  margin-bottom: 52px;
}

.about__btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #2947A9;
  background-color: #FFFFFF;
  text-decoration: none;
  border-radius: 2px;
  padding: 10px 16px;
}

.services {
  background-color: #F6F8F7;
  padding: 40px 0 32px 0;
}

.services__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #292E3D;
  text-align: center;
  margin-bottom: 36px;
}

.services__card {
  background-color: #FFFFFF;
  border-radius: 3px;
  text-align: center;
  max-width: 230px;
  padding: 32px 0;
  margin-bottom: 40px;
}

.services__card .services__card-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #2947A9;
}

.services__card--acrive {
  background-color: #2947A9;
}

.services__card--acrive .services__card-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
}

.services__card-icon {
  max-width: 32px;
}

.services__card-line {
  display: block;
  background-color: #E0E3EB;
  max-width: 50px;
  height: 2px;
  margin: 16px auto;
}

.experience {
  margin: 52px 0 60px 0;
}

.experience__card {
  position: relative;
  width: 100%;
  max-width: 210px;
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 16px 0 24px 24px;
  margin-bottom: 25px;
}

.experience__card:last-child {
  margin-bottom: 52px;
}

.experience__icon {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 100%;
  max-width: 55px;
}

.experience__card-number {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #292E3D;
}

.experience__label-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.experience__card-line {
  display: block;
  width: 4px;
  height: 17px;
  background-color: #F9995D;
}

.experience__card-label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #667299;
}

.experience__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #2947A9;
  margin-bottom: 28px;
}

.experience__text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #525B7A;
  margin-bottom: 48px;
}

.experience__btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #2947A9;
  border-radius: 2px;
  text-decoration: none;
  padding: 12px 32px;
}

.consulation {
  background-image: url("../../images/consulation-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  padding: 52px 0;
  margin: 40px 0;
}

.consulation__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.consulation__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin-bottom: 76px;
}

.consulation__text,
.consulation__phone {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}

.consulation__btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  padding: 12px 20px;
}
