.consulation {
    background-image: url('../../images/consulation-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;

    padding: $space-13 0;
    margin: $space-10 0;
}

.consulation__title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: $color-white;

    margin-bottom: $space-6;
}

.consulation__text-wrap {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-bottom: $space-19;
}

.consulation__text, 
.consulation__phone {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: $color-white;
}

.consulation__btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: $color-white;
    text-decoration: none;
    border: 2px solid $color-white;
    border-radius: 2px;

    padding: $space-3 $space-5;
}

@media (min-width: $tablet) {
    .consulation {
        height: 400px;
    }

    .consulation__title {
        font-size: 34px;

        margin-bottom: $space-8;
    }

    .consulation__text, 
    .consulation__phone {
        font-size: 22px;
    }

    .consulation__btn {
        font-size: 18px;

        padding: $space-4 $space-6;
    }
}

@media (min-width: $desktop) {
    .consulation {
        height: 300px;

        padding: $space-22 0;
        margin: 0;
    }

    .consulation__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 160px;
    }

    .consulation__text-wrap {
        display: flex;
        gap: 8px;
    }

    .consulation__btn {
        margin-top: -36px;
    }
}