.contact {
    background-color: $color-neurtal-50;

    padding: 40px 0;
}

.contact__title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: $color-neurtal-800;

    margin-bottom: 20px;
}

.contact__text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    color: $color-neurtal-800;

    margin-bottom: 32px;
}

.contact__form-row {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 32px;
}

.contact__input,
.contact__select {
    width: 100%;
    max-width: 250px;

    border: 1px solid $color-neurtal-100;
    border-radius: 3px;

    padding: 8px;
}

.contact__input::placeholder,
.contact__select,
.contact__textarea::placeholder,
.contact__note {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: $color-neurtal-300;
}

.contact__input-required {
    color: $color-pink;
}

.contact__select-wrap {
    display: flex;
    align-items: center;
    gap: 4px;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 98px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url('../../images/arrow-dropdown.svg');
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
    }
}

.contact__select {
    width: 100%;
    box-sizing: border-box;
}

.contact__textarea {
    width: 100%;
    max-width: 300px;
    height: 120px;
    resize: none;

    border: 1px solid $color-neurtal-100;
    border-radius: 3px;

    padding: 8px;
    margin-bottom: 8px;
}

.contact__note {
    color: $color-neurtal-500;

    margin-bottom: 28px;
}

.contact__note-required {
    color: $color-red;

    margin-right: 4px;
}

.contact__btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $color-white;
    background-color: $primary-color;
    border: none;

    display: block;
    padding: 14px 64px;
    margin: 0 auto;
}