.contact {
    background-color: $color-neurtal-50;

    padding: $space-10 0;
}

.contact__title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: $color-neurtal-800;

    margin-bottom: $space-5;
}

.contact__text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    color: $color-neurtal-800;

    margin-bottom: $space-8;
}

.contact__form-row {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: $space-8;
}

.contact__input,
.contact__select {
    width: 100%;
    max-width: 250px;

    border: 1px solid $color-neurtal-100;
    border-radius: 3px;

    padding: $space-2;
}

.contact__input::placeholder,
.contact__select,
.contact__textarea::placeholder,
.contact__note {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: $color-neurtal-300;
}

.contact__input-required {
    color: $color-pink;
}

.contact__select-wrap {
    display: flex;
    align-items: center;
    gap: 4px;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 98px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url('../../images/arrow-dropdown.svg');
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
    }
}

.contact__select {
    width: 100%;
    box-sizing: border-box;
}

.contact__textarea {
    width: 100%;
    max-width: 300px;
    height: 120px;
    resize: none;

    border: 1px solid $color-neurtal-100;
    border-radius: 3px;

    padding: $space-2;
    margin-bottom: $space-2;
}

.contact__note {
    color: $color-neurtal-500;

    margin-bottom: $space-7;
}

.contact__note-required {
    color: $color-red;

    margin-right: $space-1;
}

.contact__btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $color-white;
    background-color: $primary-color;
    border: none;

    display: block;
    padding: $space-4 $space-16;
    margin: 0 auto;
}

@media (min-width: $tablet) {
    .contact__content {
        width: 100%;
        max-width: 600px;

        text-align: center;
    }

    .contact__title {
        font-size: 36px;
    }

    .contact__text {
        width: 100%;
        max-width: 400px;

        margin: 0 auto;
    }

    .contact__form {
        width: 100%;
        max-width: 600px;
        margin: $space-12 auto;
    }

    .contact__form-row {
        display: flex;
        flex-direction: row;
        gap: 28px;

        margin-bottom: $space-5;
    }

    .contact__input-wrap {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
    }

    .contact__input,
    .contact__select {
        width: 100%;
        min-width: 280px;
    }

    .contact__input::placeholder,
    .contact__select,
    .contact__textarea::placeholder,
    .contact__note  {
        font-size: 17px;
    }

    .contact__input {
        padding: $space-3 $space-2;
    }

    .contact__select-wrap {
        &::after {
            right: 16px;
        }
    }

    .contact__textarea {
        width: 100%;
        max-width: 595px;
    }

    .contact__note {
        text-align: left;
    }

    .contact__btn {
        font-size: 18px;

        padding: $space-4 $space-22;
    }
}

@media (min-width: $desktop) {
    .contact {
        padding: $space-15 0 $space-3;
    }

    .contact__content {
        margin: 0 auto;
    }
}