.projects {
    padding: 40px 0;
}

.projects__title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: $color-neurtal-800;

    margin-bottom: 32px;
}

.projects__filter {
    margin-bottom: 32px;
}

.projects__filter-item {
    margin-bottom: 16px;
}

.projects__filter-line {
    display: block;
    width: 2px;
    height: 18px;
    background-color: $primary-color;
}

.projects__filter-link {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $color-neurtal-200;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 8px;
}

.projects__filter-link.active {
    color: $primary-color;
}

.projects__grid {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        display: none;
    }
}

.projects__card {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 270px;
}

.projects__card,
.projects__card-image {
    width: 100%;
    max-width: 270px;
    background-color: $primary-color;
}

.projects__card-info {
    padding: 8px;
}

.projects__card-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: $color-white;

    margin-bottom: 8px;
}

.projects__card-address {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: $color-white;
}

.projects__controls {
    display: none;
}

@media (min-width: $tablet) {
    .projects {
        padding: 60px 0;
    }
    
    .projects__title {
        font-size: 36px;
    }

    .projects__filter-line {
        width: 3px;
        height: 24px;
    }

    .projects__filter-link {
        font-size: 24px;

        margin-bottom: 20px;
    }

    .projects__filter {
        margin-bottom: 40px;
    }

    .projects__card,
    .projects__card-image {
        width: 100%;
        max-width: 380px;
    }

    .projects__card-info {
        padding: 12px;
    }

    .projects__card-title {
        font-size: 19px;

        margin-bottom: 12px;
    }

    .projects__card-address {
        font-size: 17px;
    }
}

@media (min-width: $desktop) {
    .projects {
        margin: 88px 0 136px;
        padding: 0;
    }
    
    .projects__row {
        display: flex;
        flex-direction: row;
        gap: 200px;
    }
    .projects__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        overflow: visible;

        width: 100%;
        max-width: 745px;

        margin: 68px 0 32px;
    }

    .projects__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .projects__btn-prev,
    .projects__btn-next {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $color-white;
        background-color: $color-neurtal-800;
        border: none;
        cursor: pointer;

        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;

        padding: 20px 112px;
    }

    .projects__dots {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .projects__dot--active,
    .projects__dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    .projects__dot--active {
        background-color: $primary-color;
    }

    .projects__dot {
        background-color: $color-neurtal-50;
    }
}