.reputation {
    margin-bottom: $space-17;
}

.reputation__title {
    @include heading;
    font-size: 27px;
    color: $color-neurtal-800;
    text-align: center;

    margin-bottom: $space-10;
}

.reputation__card-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reputation__card {
    border: 1px solid $color-neurtal-100;
    border-radius: 2px;
    max-width: 230px;

    padding: $space-4;
}

.reputation__icon {
    max-width: 33px;

    margin-bottom: $space-4;
}

.reputation__card-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $color-neurtal-700;

    margin-bottom: $space-4;
}

.reputation__card-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: $color-neurtal-400;

    max-width: 190px;

    margin-bottom: $space-5;
}

@media (min-width: $tablet) {
    .reputation__title {
        font-size: 36px;
    }

    .reputation__card {
        max-width: 290px;

        padding: $space-5;
    }

    .reputation__icon {
        max-width: 40px;
    }

    .reputation__card-title {
        font-size: 20px;
    }

    .reputation__card-text {
        font-size: 16px;
        max-width: 250px;
    }
}

@media (min-width: $desktop) {
    .reputation {
        margin: $space-15 0 $space-20;
    }

    .reputation__title {
        margin-bottom: $space-13;
    }
    
    .reputation__card-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }
}