.services {
    background-color: $color-neurtal-50;
    padding: 40px 0 32px 0;
}

.services__title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: $color-neurtal-800;
    text-align: center;

    margin-bottom: 36px;
}

.services__card {
    background-color: $color-white;
    border-radius: 3px;
    text-align: center;
    max-width: 230px;
    
    padding: 32px 0;
    margin-bottom: 40px;

    .services__card-title {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: $primary-color;
    }
}

.services__card--acrive {
    background-color: $primary-color;

    .services__card-title {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: $color-white;
    }
}

.services__card-icon {
    max-width: 32px;
}

.services__card-line {
    display: block;
    background-color: $color-neurtal-100;
    max-width: 50px;
    height: 2px;
    margin: 16px auto;
}

@media (min-width: $tablet) {
    .services__title {
        font-size: 36px;
    }
    .services__card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        justify-items: center;
    }

    .services__card {
        min-width: 270px;

        padding: 38px 0;
    }

    .services__card-icon {
        max-width: 40px;
    }

    .services__card
    .services__card-title {
        font-size: 20px;
    }

    .services__card-line {
        max-width: 60px;
    }
}