.container {
    padding: 0 8px;
    margin: 0 auto;

    @media (min-width: $tablet) {
        max-width: 704px;
        padding: 0 32px;
        margin: 0 auto;
    }

    @media (min-width: $desktop) {
        max-width: 1166px;
        padding: 0 84px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}