.container {
    padding: 0 $space-2;
    margin: 0 auto;

    @media (min-width: $tablet) {
        max-width: 704px;
        padding: 0 $space-8;
        margin: 0 auto;
    }

    @media (min-width: $desktop) {
        max-width: 1200px;
        padding: 0 $space-14;
        margin: 0 auto;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}