$primary-color: #2947A9;
$accent-color: #F9995D;

$color-neurtal-900: #14171F;
$color-neurtal-800: #292E3D;
$color-neurtal-700: #3D445C;
$color-neurtal-600: #525B7A;
$color-neurtal-500: #667299;
$color-neurtal-400: #858EAD;
$color-neurtal-300: #A3AAC2;
$color-neurtal-200: #C2C7D6;
$color-neurtal-100: #E0E3EB;
$color-neurtal-50:  #F6F8F7;

$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #C40303;
$color-pink: #ED6565;


$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;
$space-11: 44px;
$space-12: 48px;
$space-13: 52px;
$space-14: 56px;
$space-15: 60px;
$space-16: 64px;
$space-17: 68px;
$space-18: 72px;
$space-19: 76px;
$space-20: 84px;
$space-21: 88px;
$space-22: 100px;
$space-23: 112px;
$space-24: 116px;
$space-25: 124px;
$space-26: 136px;
$space-27: 160px;
$space-28: 188px;


$tablet: 704px;
$desktop: 1200px;