$primary-color: #2947A9;
$accent-color: #F9995D;

$color-neurtal-900: #14171F;
$color-neurtal-800: #292E3D;
$color-neurtal-700: #3D445C;
$color-neurtal-600: #525B7A;
$color-neurtal-500: #667299;
$color-neurtal-400: #858EAD;
$color-neurtal-300: #A3AAC2;
$color-neurtal-200: #C2C7D6;
$color-neurtal-100: #E0E3EB;
$color-neurtal-50:  #F6F8F7;

$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #C40303;